# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
out/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
/bin/
*.ucls
*.xcf
